* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:2px
}

body {
    display:flex;
    flex-direction: column;
    height:100vh;
    width: 2000px;
    box-sizing: border-box;
    
    
}
header {
    background-color: rgb(14, 109, 41);
    text-align: center;
    font-size: 30px;
    height: 30vh;
    padding:20px
}
.content {
    display:flex;
    text-align: center;
    font-size: 30px;
    height:70vh;    

}
.main-footer {
    display:flex;
    flex-direction: column;
    background-color: rgb(14, 109, 41);
    width:1320px;
    padding:20px;



}
.sidebar {
    background-color: rgb(45, 203, 90);
    text-align: center;
    font-size: 30px;
    width:680px;
    align-items: center;
    padding:20px
}

div .ft-1 {
    height:50%;
    padding:20px
}
.main{
    display:flex;
    height:50%;
    justify-content: space-around;
    margin:20px;
    }
.main-left .main-right {
    background-color: rgb(49, 218, 96);
    width:100%;

}